@font-face {
	font-family: "iconfont";
	src: url('../fonts/newIcon.ttf?t=1527211850318') format('truetype')/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-3:before {
	content: "\e602";
}

.icon-history:before {
	content: "\e603";
}

.icon-yue1:before {
	content: "\e647";
}