/*头部header*/
.mui-bar-nav {
	-webkit-box-shadow: 0 1px 6px #209c60;
    box-shadow: 0 1px 6px #209c60;
}
.mui-bar {
	background-color: #30c37c;
}
/*登录按钮*/
.mui-btn-blue, .mui-btn-primary, input[type=submit] {
	border: 1px solid #30c37c;
    background-color: #30c37c;
}
/*列表页的箭头颜色*/
.mui-navigate-right:after {
	color: #30c37c;
}
/*导航栏*/
.mui-bar-tab .mui-tab-item.mui-active {
	color: #30c37c;
}
/*字体颜色都添加这个类*/
.fontColor {
	color: #30c37c;
}
.backColor {
	background: #30c37c;
}
.borderColor {
	border: 1px solid #30c37c;
}