
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1496644707756') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before { content: "\e617"; }

.icon-download1:before { content: "\e621"; }

.icon-alipay1:before { content: "\e634"; }

.icon-dianji:before { content: "\e861"; }

.icon-dianji1:before { content: "\e625"; }

.icon-scan:before { content: "\e614"; }

.icon-iconfontcheliangguanli:before { content: "\e60b"; }

.icon-zhengcan:before { content: "\e619"; }

.icon-download2:before { content: "\e608"; }

.icon-weibiaoti104:before { content: "\e620"; }

.icon-money:before { content: "\e699"; }

.icon-minus:before { content: "\e60e"; }

.icon-cardperson:before { content: "\e712"; }

.icon-yiwancheng:before { content: "\e630"; }

.icon-xiazai1:before { content: "\e663"; }

.icon-xunzhao02:before { content: "\e730"; }

.icon-weixinzhifu:before { content: "\e69f"; }

.icon-baobiao:before { content: "\e63d"; }

.icon-weixinzhifu1:before { content: "\e60a"; }

.icon-minus1:before { content: "\e783"; }

.icon-money1:before { content: "\e615"; }

.icon-plus:before { content: "\e627"; }

.icon-alipay2:before { content: "\e628"; }

.icon-plus1:before { content: "\e698"; }

.icon-alipay3:before { content: "\e603"; }

.icon-baobiao1:before { content: "\e6f2"; }

.icon-xingzhuang25:before { content: "\e66f"; }

.icon-dayinji:before { content: "\e662"; }

.icon-yinshi:before { content: "\e664"; }

.icon-canyin:before { content: "\e644"; }

.icon-zhifuweixin-copy:before { content: "\e62b"; }

.icon-cheliang1:before { content: "\e600"; }

.icon-classify:before { content: "\e624"; }

.icon-shopping:before { content: "\e62c"; }

.icon-iconscan:before { content: "\e609"; }

.icon-lixian:before { content: "\e6f0"; }

.icon-download3:before { content: "\e62e"; }

.icon-Alipay:before { content: "\e60c"; }

.icon-weixinzhifu-:before { content: "\e656"; }

.icon-classify_pressed:before { content: "\e607"; }

.icon-saomakaobei:before { content: "\e7a9"; }

.icon-weixinzhifu2:before { content: "\e604"; }

.icon-daipaidan:before { content: "\e618"; }

.icon-clothes-wash:before { content: "\e640"; }

.icon-scan1:before { content: "\e616"; }

.icon-baobiao2:before { content: "\e643"; }

.icon-kuaican:before { content: "\e684"; }

.icon-cheliangxinxi:before { content: "\e6cc"; }

.icon-zhuanhuan:before { content: "\e6ff"; }

.icon-zhuanhuan1:before { content: "\e661"; }

.icon-yumao:before { content: "\e700"; }

