<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="reference/mui/css/mui.css" />
    <link rel="stylesheet" href="reference/mui/css/iconfont.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="./reference/mui/css/mui.picker.min.css" />
</head>
<style type="text/css">
    [v-cloak] {
        display: none;
    }
    
    .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        display: none;
    }
    
    body {
        background: #eee;
    }
    
    .icon-logo {
        width: 35px;
        height: 35px;
    }
    
    .mui-content>.mui-table-view:first-child {
        margin-top: 0px;
    }
    
    #tabbar-with-gear .mui-table-view {
        margin-top: 20px;
    }
    
    .mui-page-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #eee;
    }
    
    .update-window {
        position: fixed;
        z-index: 9999;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    
    .round {
        border: 1px solid #bbb;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        background-color: #666666;
        filter: alpha(opacity=80);
        /* 用于IE浏览器－透明度为20%*/
        -moz-opacity: 0.8;
        /*  用于Moz + Firefox－透明度为20%*/
        opacity: 0.8;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -o-border-radius: 60px;
        border-radius: 60px;
    }
    
    .mui-card-header {
        font-size: 14px;
        color: #0090bb;
        font-weight: 500;
    }
    
    .mui-card-header.mui-card-media .mui-media-body {
        font-size: 14px;
        font-weight: 500;
        color: #0090bb;
    }
    
    .box {
        width: 100%;
        height: 100px;
        background: #fff;
        padding: 10px;
        overflow: hidden;
    }
    
    .img_alt {
        background: rgba(0, 0, 0, 0.7);
        filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
        position: relative;
        z-index: 1;
        top: 170px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    
    .update-windows {
        position: fixed;
        z-index: 999;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
    }
    
    .mui-media-body {
        font-size: 14px !important;
    }
    /*输入支付密码*/
    
    .diceng {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 250;
        background: black;
        opacity: 0.5;
    }
    
    .realMoney {
        position: fixed;
        z-index: 251;
        width: 100%;
        background: #ffffff;
        height: 300px;
        padding: 0 10px;
        bottom: 0px;
    }
    
    .setInput {
        color: #333333;
        width: 100%;
        border: 0;
        outline: none;
        text-align: left;
        font-size: 15px;
    }
    
    .editButtons {
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 19px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
        border-radius: 6px;
    }
    
    .applyTitle {
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        color: #666666;
        letter-spacing: 1px;
    }
    
    .applyInput {
        padding: 15px 15px;
    }
</style>

<body>
    <div id="app" v-cloak>
        <header id="header" class="mui-bar mui-bar-nav">
            <h1 class="mui-title">首页</h1>
        </header>
        <div id="warn" class="warn" hidden>
            <small></small>
        </div>
        <nav class="mui-bar mui-bar-tab" style="background-color: #fff">
            <a id="home" class="mui-tab-item mui-active" href="#tabbar">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-tab-label">首页</span>
            </a>
            <a class="mui-tab-item" href="#tabbar-with-gear">
                <span class="mui-icon mui-icon-gear"></span>
                <span class="mui-tab-label">我</span>
            </a>
        </nav>
        <div class="update-windows" hidden>
            <div style="
            width: 80%;
            min-height: 40%;
            position: absolute;
            bottom: 30%;
            left: 10%;
          ">
                <div style="background: #fff">
                    <div style="
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-bottom: 1px solid #eee;
                font-size: 18px;
                font-weight: bold;
                background: #30c37c;
                color: #fff;
              ">
                        版本更新
                    </div>
                    <div style="min-height: 150px; padding: 15px; font-size: 16px">
                        检测到有新版本，请更新！
                    </div>
                    <div id="update" style="
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-top: 1px solid #eee;
                font-size: 18px;
                font-weight: bold;
              " onclick="versionUpdate()">
                        更新
                    </div>
                </div>
            </div>
        </div>
        <div class="mui-content">
            <div id="tabbar" class="mui-control-content mui-active">
                <div id="menuPic" style="
              width: 100%;
              height: 200px;
              background: url(img/hospitalBg.png);
              background-size: cover;
            ">
                    <div id="hosName" class="img_alt"></div>
                </div>
                <div style="
              width: 100%;
              height: 40px;
              line-height: 40px;
              padding-left: 15px;
              background: #989898;
              color: #fff;
            ">
                    公告
                </div>
                <div class="box">
                    <div class="mui-row">
                        <div id="scrollGG" class="mui-col mui-col-xs-8"></div>
                        <div id="qrCode" class="mui-col mui-col-xs-4" style="text-align: right"></div>
                    </div>
                </div>
                <div style="
              width: 100%;
              height: 40px;
              line-height: 40px;
              padding-left: 15px;
              background: #989898;
              color: #fff;
            ">
                    医院业务
                </div>
                <ul class="mui-table-view mui-grid-view mui-grid-9">
                    <li v-for="(item,index) in menu_list" v-if="item.show" :key="item.url" class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                        <a @click="jump(item.url,item.call_back)" class="weixiu">
                            <span><img :src="item.img" alt="" class="icon-logo" /></span>
                            <div class="mui-media-body">{{item.text}}</div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 消息 -->
            <div id="tabbar-with-chat" class="mui-control-content">
                <div id="item1"></div>
            </div>
            <!-- 设置 -->
            <div id="tabbar-with-gear" class="mui-control-content mui-page-content">
                <div class="mui-scroll" style="transform: translate3d(0px, 0px, 0px) translateZ(0px)">
                    <ul class="mui-table-view mui-table-view-chevron" style="margin-top: 60px">
                        <li class="mui-table-view-cell mui-media">
                            <a class="mui-navigate-right" href="#account">
                                <img class="mui-media-object mui-pull-left head-img" id="head-img" src="img/icon.png" />
                                <div class="mui-media-body">
                                    医生活（医务版）
                                    <p class="mui-ellipsis">南京博纳睿通软件科技有限公司</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="mui-table-view mui-table-view-chevron">
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right">姓名<i id="name" class="mui-pull-right update"></i></a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right">工号<i id="workNo" class="mui-pull-right update"></i></a>
                        </li>
                        <li v-if="myAccountComputed" class="mui-table-view-cell yueMoney">
                            <a class="mui-navigate-right">我的账户</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right">手机号<i id="telPhone" class="mui-pull-right update"></i></a>
                        </li>
                        <li class="mui-table-view-cell" id="handelPicker">
                            <a class="mui-navigate-right">院区名称<i id="dataGroupCodeName" class="mui-pull-right update"></i></a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right">科室名称<i id="deptName" class="mui-pull-right update"></i></a>
                        </li>
                    </ul>
                    <div style="
                width: 100%;
                min-height: 100px;
                background: #fff;
                margin-top: 15px;
              ">
                        <div style="
                  width: 100%;
                  height: 40px;
                  line-height: 40px;
                  padding-left: 15px;
                  padding-right: 15px;
                  border-bottom: 1px solid #dcdcdc;
                ">
                            角色
                        </div>
                        <div id="role_name" style="width: 100%; padding: 15px"></div>
                    </div>
                    <ul class="mui-table-view mui-table-view-chevron">
                        <li class="mui-table-view-cell">
                            <a href="operate/pwd_modify.html" class="mui-navigate-right">修改密码</a>
                        </li>
                        <!-- <li class="mui-table-view-cell">
                            <a href="operate/tel_modify.html" class="mui-navigate-right">修改手机</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a href="operate/dept_modify.html" class="mui-navigate-right">修改科室</a>
                        </li> -->
                        <li class="mui-table-view-cell">
                            <a href="login.html" class="mui-navigate-right">重新登陆
                <i class="mui-pull-right">
                  <span class="mui-icon mui-icon-redo" style="color: #00986b">
                  </span>
                </i>
              </a>
                        </li>
                    </ul>
                    <ul class="mui-table-view mui-table-view-chevron">
                        <li class="mui-table-view-cell">
                            <a href="#about" class="mui-navigate-right">版本 <i id="currentVersion"
                  class="mui-pull-right update"></i></a>
                        </li>
                    </ul>
                    <ul class="mui-table-view">
                        <li id="quit" class="mui-table-view-cell" style="text-align: center">
                            <a>退出登录</a>
                        </li>
                    </ul>
                    <div style="height: 200px"></div>
                </div>
            </div>
        </div>
        <div id="bigQr" class="update-window" hidden>
            <div style="
            position: fixed;
            z-index: 999;
            top: 0px;
            right: 0px;
            padding: 15px;
          ">
                <div id="colseQr" class="round">返回</div>
            </div>
            <div style="text-align: center; margin-top: 100px">
                <div id="qrBcode" style="width: 250px; height: 250px; margin: 0px auto">
                    <img src="img/icon.png" style="width: 25px; height: auto" /><span style="font-size: 18px; font-weight: bold">一站式后勤</span>
                </div>
            </div>
        </div>
        <div class="mask"></div>
        <div id="warn" class="warn" hidden>
            <small></small>
        </div>
        <!-- 输入支付密码 -->
        <div class="diceng" hidden></div>
        <div class="realMoney pwdWrite" hidden>
            <div class="applyTitle">
                请输入支付密码<span class="mui-icon mui-icon-closeempty"></span>
            </div>
            <form class="mui-input-group" style="margin-bottom: 80px">
                <div class="mui-input-row">
                    <label>工号</label>
                    <input id="workNumber" type="text" class="mui-input" readonly />
                </div>
                <div class="mui-input-row">
                    <label>支付密码</label>
                    <input id="password" type="password" class="mui-input-clear mui-input" placeholder="请输入支付密码" />
                </div>
            </form>
            <div class="editButtons paySure" style="
            background: #30c37c;
            color: #ffffff;
            margin-top: 6px;
            display: none;
          ">
                确定
            </div>
            <div class="editButtons paySureCount" style="
            background: #30c37c;
            color: #ffffff;
            margin-top: 6px;
            display: none;
          ">
                确定
            </div>
        </div>
    </div>
</body>
<script src="reference/mui/js/mui.js" type="text/javascript"></script>
<script src="reference/bootstrap-3.3.5/js/jquery-2.1.4.js" type="text/javascript"></script>
<script type="text/javascript" src="js/qrcode.js"></script>
<script type="text/javascript" src="js/jquery.qrcode.js"></script>
<!-- <script src="cordova.js" type="text/javascript"></script> -->
<script src="./reference/mui/js/mui.picker.min.js"></script>
<script src="./js/lodash.min.js"></script>
<script src="./js/vue.js"></script>
<script type="text/javascript">
    var baseUrl = localStorage.getItem("url");
    var workNo = localStorage.getItem("workNo");
    console.log(localStorage);
    var role = "PTYH";
    var roleName = "普通用户";
    var role_name = "";

    for (var i = 0; i < roleName.length; i++) {
        role_name +=
            '<span class="mui-badge mui-badge-inverted" style="margin-right:10px;margin-bottom:5px;font-size:13px;">' +
            roleName[i] +
            "</span>";
    }
    $("#role_name").html(role_name);

    var app = new Vue({
        el: "#app",
        data() {
            return {
                menu_list: [{
                        url: "html/nurse/jump.html",
                        img: "img/nurse.png",
                        text: "陪护",
                        show: false,
                    },
                    // {
                    //   url: "html/repair/taskList.html",
                    //   img: "img/repair.png",
                    //   text: "维修",
                    //   show: true,
                    // },
                    {
                        url: "html/report/reportMenu.html",
                        img: "img/decision.png",
                        text: "报表",
                        show: false,
                    },
                     {
                       url: "html/equipment/main.html",
                       img: "img/equipment.png",
                       text: "设备",
                       show: false,
                     },
                     {
                       url: "html/device_inspection/main.html",
                       img: "img/device_inspection.png",
                       text: "设备巡检",
                       show: false,
                     },
                    {
                        url: "html/satisfaction/main.html",
                        img: "img/satisfaction.png",
                        text: "服务评价",
                        show: true,
                    },
                     {
                       url: "html/safety_inspection/main.html",
                       img: "img/safty_inspection.png",
                       text: "安全巡查",
                       show: false,
                     },
                     {
                       url: "html/safty_platform/homePage.html",
                       img: "img/safty_platform.png",
                       text: "安全问题上报",
                       show: false,
                     },
                     {
                       url: "html/meal/main.html",
                       img: "img/meal.png",
                       text: "在线点餐",
                       show: false,
                     },
                     {
                       url: "html/canteen_meal/code.html",
                       img: "img/code.png",
                       text: "堂食消费",
                       show: false,
                     },
                    // {
                    //   url: "html/clothing/menuAPP.html",
                    //   img: "img/energy.png",
                    //   text: "医用织物",
                    //   show: true,
                    // },
                    {
                        url: "html/clean/taskList.html",
                        img: "img/clean.png",
                        text: "保洁",
                        show: false,
                    },
                    // {
                    //   url: "html/bedroom/main.html",
                    //   img: "img/bedroom.png",
                    //   text: "宿舍",
                    //   show: true,
                    // },
                    {
                        url: "html/transportAndDevice/yunsong.html",
                        img: "img/transport.png",
                        text: "运送接单",
                        show: false,
                    }, {
                        url: "html/material-distribution/choose-main.html",
                        img: "img/wuzi.png",
                        text: "物资配送",
                        show: false,
                    }, {
                        url: "html/equipment/main.html",
                        img: "img/equipment.png",
                        text: "设备",
                        show: false,
                    }, {
                        url: "html/PJYS/main.html",
                        img: "img/transport.png",
                        text: "运送登记",
                        show: false,
                    },
                    // {
                    //   url: "html/meeting/main.html",
                    //   img: "img/meeting.jpg",
                    //   text: "会议",
                    //   show: true,
                    // },
                    // {
                    //   url: "html/meeting/sign.html",
                    //   img: "img/sign.jfif",
                    //   text: "会议签到",
                    //   call_back: function () {
                    //     cordova &&
                    //       cordova.plugins.barcodeScanner.scan(
                    //         function (result) {
                    //           result.text &&
                    //             (location.href = "./html/meeting/sign.html?id=" + id); //扫码成功后跳转至会议详细页面
                    //         },
                    //         function (error) {
                    //           mui.toast("扫码失败 !");
                    //         }
                    //       );
                    //   },
                    //   show: true,
                    // },
                    // {
                    //   url: "html/clothes/main.html",
                    //   img: "img/work-clothes.png",
                    //   text: "工作服",
                    //   show: true,
                    // },
                    {
                        url: "html/energy-consumption/index.html",
                        img: "img/energy-consumption.png",
                        text: "能耗",
                        show: false,
                        //   //注意,此模块用vue开发,需要找到vue源码修改后打包替换
                        //   // svn:https://svn.bonawise.com/svn/smp_app/tags/前端VUE/能耗
                    },
                    // {
                    //   url: "html/intelligent-monitoring/index.html",
                    //   img: "img/intelligent-monitoring.png",
                    //   text: "智能监控",
                    //   show: true,
                    //   //注意,此模块用vue开发,需要找到vue源码修改后打包替换
                    //   //svn: https://svn.bonawise.com/svn/smp_app/tags/前端VUE/智能监控
                    // },
                ],
                bannerImg: localStorage.getItem("menuImg") ? "http://wx.yyhq365.cn/smp_wx" + localStorage.getItem : "img/hospitalBg.png",
            };
        },
        computed: {
            myAccountComputed() {
                var texts = ["在线点餐", "堂食消费"];
                return this.menu_list.some(function(item) {
                    return texts.indexOf(item.text) != -1 && item.show;
                });
            },
        },
        methods: {
            jump(url, call_back) {
                call_back ? call_back() : (location.href = url);
            },
            access_permission() {
                var self = this;
                var developer = localStorage.getItem("developer");
                developer &&
                    _.map(this.menu_list, function(item, index) {
                        item.show = true;
                        self.$set(self.menu_list, index, item);
                    });
            },
        },
        created() {
            this.access_permission();
        },
    });

    var dataGroupCode = localStorage.getItem("dataGroupCode");
    var dataGroupCodeName = "";
    if (dataGroupCode == "FY01/FY0101") {
        dataGroupCodeName = "新城院区";
    } else if (dataGroupCode == "FY01/FY0102") {
        dataGroupCodeName = "禅城院区";
    }
    $("#dataGroupCodeName").html(dataGroupCodeName);

    var picker = new mui.PopPicker();
    var hosList = [{
        value: "FY01/FY0101",
        text: "新城院区",
    }, {
        value: "FY01/FY0102",
        text: "禅城院区",
    }, ];

    $("#handelPicker").on("tap", function() {
        picker.setData(hosList);
        picker.show(function(selectItems) {
            $("#dataGroupCodeName").html(selectItems[0].text);
            localStorage.setItem("dataGroupCode", selectItems[0].value);
        });
    });

    var hosId = localStorage.getItem("hosId");
    var hosName = localStorage.getItem("hosName");
    console.log("医院编号：" + hosId);
    var menuImg = localStorage.getItem("menuImg");
    console.log(menuImg, "____11__");

    var Imgurl =
        localStorage.url + "iplatui/img/login/hospitalBg.png?" + Math.random();

    console.log(Imgurl);
    var developer = localStorage.getItem("developer");
    console.log("开发者模式：" + developer);

    var appUrl = "";
    //版本号
    localStorage.setItem("serverUrl", "http://appres.yyhq365.cn/");

    version();

    function version() {
        $.ajax({
            url: localStorage.serverUrl + "appPlatformControllder.do?queryAppVersion",
            type: "post",
            data: {
                appid: "com.bonawise.yishenghuo",
                hospital: hosId,
                deviceType: "android",
            },
            success: function(data) {
                //  console.log(data.obj.version,"_____");
                $("#currentVersion").html("V" + data.obj.version);
            },
        });
    }

    document.addEventListener("deviceready", onDeviceReady, false);
    $.ajax({
        url: baseUrl + "app_versionController.do?getAppVersion",
        type: "post",
        data: {
            appId: "com.bonawise.yishenghuo",
        },
        timeout: 30000,
        success: function(data) {
            var data = eval("(" + data + ")");
            var versions = data.app_version;
            appUrl = data.app_url;
            cordova.getAppVersion.getVersionNumber(function(version) {
                $("#currentVersion").html("V" + version);
                if (version < versions) {
                    $(".update-windows").fadeIn(500);
                } else {
                    source_update();
                }
            });
        },
    });

    function onDeviceReady() {
        if (sessionStorage.getItem("push") != "1") registerPush();
        source_update();

        /**
         * 版本更新
         * @param appID
         */
        $.ajax({
            url: baseUrl + "app_versionController.do?getAppVersion",
            type: "post",
            data: {
                appId: "com.bonawise.yishenghuo",
            },
            timeout: 30000,
            success: function(data) {
                var data = eval("(" + data + ")");
                var versions = data.app_version;
                appUrl = data.app_url;
                cordova.getAppVersion.getVersionNumber(function(version) {
                    $("#currentVersion").html("V" + version);
                    if (version < versions) {
                        $(".update-windows").fadeIn(500);
                    } else {
                        source_update();
                    }
                });
            },
        });

        /**
         * 系统返回键监听
         */
        document.addEventListener("backbutton", onBackKeyDown, false);
    }

    function registerPush() {
        cordova.exec(
            function(deviceId) {
                $.ajax({
                    url: baseUrl + "app_pushRegisterController/appPushRegister",
                    type: "post",
                    data: {
                        workNo: workNo,
                        appId: "com.bonawise.yishenghuo",
                        appName: "医生活（医务版）",
                        appType: "Android",
                        hospital: hosName,
                        deviceId: deviceId,
                    },
                    success: function(data) {
                        sessionStorage.setItem("push", "1");
                        mui.toast("welcome");
                    },
                });
            },
            function(error) {
                // mui.toast(error);
                setTimeout(registerPush, 2000);
            },
            "AliYun",
            "getDeviceId", []
        );
    }

    /**
     * 资源文件更新
     * @return {[type]} [description]
     */
    function source_update() {
        $.ajax({
            url: localStorage.getItem("serverUrl") +
                "appPlatformControllder.do?queryAppVersion",
            type: "post",
            data: {
                appid: "com.bonawise.yishenghuo",
                hospital: hosId,
                deviceType: "android",
            },
            success: function(data) {
                console.log(data);
                var version_num = data.obj.version;
                console.log(version_num);
                if (
                    version_num != undefined &&
                    version_num != localStorage.getItem("version_num")
                ) {
                    mui.alert(
                        "有新的资源文件需要更新，请先下载后再使用APP。",
                        "提示",
                        function() {
                            var jsonStr = JSON.stringify(data.obj);
                            location.href =
                                localStorage.getItem("appURL") +
                                "www/source_download.html?" +
                                encodeURIComponent(jsonStr);
                        }
                    );
                }
            },
        });
    }

    /**
     * 打开浏览器更新app
     * @return {[type]} [description]
     */
    function versionUpdate() {
        cordova.InAppBrowser.open(appUrl, "_system", "location=no");
    }

    if (developer == "true") {
        $("#REPAIR").css("display", "");
        $("#DEVICE").css("display", "");
        $("#DEVICE_INSPECTION").css("display", "");
        $("#ENV_INSPECTION").css("display", "");
        $("#MAINTAIN").css("display", "");
        $("#MEAL").css("display", "");
        $("#DISTRIBUTION").css("display", "");
        $("#TRANSPORT").css("display", "");
        $("#CAR").css("display", "");
        $("#DECISION").css("display", "");
        $("#CATERING").css("display", "");
        $("#PHONE_PAGE").css("display", "");
        $("#CLOTHES_PAGE").css("display", "");
    }

    $(function() {
        $(".mask").click(function() {
            $(".changeTheme").slideUp();
            $("#theme").removeClass("choose");
            $(".mask").hide();
        });
        $(".diceng,.mui-icon-closeempty").click(function() {
            $(".pwdWrite").hide();
            $(".diceng").hide();
        });
        // 点击我的账户
        $(".yueMoney").click(function() {
            // 如果维护了身份证
            if (localStorage.getItem("IDYN") == "Y") {
                // 已经输过支付密码，不需要重新输入
                if (localStorage.getItem("pwdYN") == "Y") {
                    location.href = "html/card/card-recharge.html";
                } else {
                    $("#workNumber").val(localStorage.getItem("workNo"));
                    $(".pwdWrite").show();
                    $(".diceng").show();
                    $("#password").val("");
                    $(".paySureCount").show();
                    $(".paySure").hide();
                    $(".paySureCount").click(function() {
                        if ($("#password").val() == "") {
                            $("#warn small").html("支付密码不能为空！");
                            $("#warn").fadeIn(500);
                            setTimeout('$("#warn").fadeOut(500)', 3000);
                            $("#password").focus();
                            return;
                        }
                        if ($("#password").val() == "000000") {
                            var btn = ["否", "是"];
                        }
                        $.ajax({
                            url: baseUrl + "workmeal",
                            type: "post",
                            headers: {
                                className: "AppWorkPayService",
                                methodName: "checkPayPassword",
                            },
                            data: {
                                workNo: $("#workNumber").val(),
                                passWord: $("#password").val(),
                            },
                            success: function(data) {
                                console.log(data);
                                if (data.success) {
                                    $("#warn small").html(data.respMsg);
                                    $("#warn").fadeIn(500);
                                    setTimeout('$("#warn").fadeOut(500)', 3000);
                                    $(".pwdWrite").hide();
                                    $(".diceng").hide();
                                    localStorage.setItem("pwdYN", "Y");
                                    location.href = "html/card/card-recharge.html";
                                } else {
                                    $("#warn small").html(data.respMsg);
                                    $("#warn").fadeIn(500);
                                    setTimeout('$("#warn").fadeOut(500)', 3000);
                                    $("#password").val("");
                                    $("#password").focus();
                                }
                            },
                        });
                    });
                }
            } else {
                $("#warn small").html(
                    "请联系人力资源部维护身份证信息，否则无法使用！（此功能仅对职工开放）"
                );
                $("#warn").fadeIn(500);
                setTimeout('$("#warn").fadeOut(500)', 3000);
            }
        });
        // 堂食消费
        $("#MEALORDER").click(function() {
            // 如果维护了身份证
            if (localStorage.getItem("IDYN") == "Y") {
                location.href = "html/canteen_meal/code.html";
            } else {
                $("#warn small").html(
                    "请联系人力资源部维护身份证信息，否则无法使用！（此功能仅对职工开放）"
                );
                $("#warn").fadeIn(500);
                setTimeout('$("#warn").fadeOut(500)', 3000);
            }
        });
        //点击订餐时校验,如果没有身份证不让订餐，先去维护
        $("#MEAL").click(function() {
            // 如果维护了身份证
            if (localStorage.getItem("IDYN") == "Y") {
                location.href = "html/meal/main.html";
            } else {
                $("#warn small").html(
                    "请联系人力资源部维护身份证信息，否则无法使用！（此功能仅对职工开放）"
                );
                $("#warn").fadeIn(500);
                setTimeout('$("#warn").fadeOut(500)', 3000);
            }
        });
        // 先判定有没有身份证
        $.ajax({
            url: baseUrl + "meal",
            type: "post",
            headers: {
                className: "AppUserInfoService",
                methodName: "getWorkInfoByWorkNo",
            },
            data: {
                workNo: workNo,
            },
            success: function(data) {
                //var data = JSON.parse(data);
                console.log(data);
                if (data.success) {
                    if (data.obj["idNo"]) {
                        localStorage.setItem("IDYN", "Y");
                        console.log("有身份证" + data.obj["idNo"]);
                        var id_length = data.obj["idNo"].length;
                        var id_cut_6 = data.obj["idNo"].substring(
                            id_length - 6,
                            id_length
                        );
                        localStorage.setItem("id_cut_6", id_cut_6);
                    }
                    console.log(localStorage.getItem("IDYN"));
                    console.log("是否输过支付密码");
                    console.log(localStorage.getItem("pwdYN"));
                }
            },
        });
        if (role.indexOf("ZNJK") > -1) {
            $("#MONITOR").show();
            // $('#EnergyExpend').show()
        }
        if (role.indexOf("PTYH") >= 0) {
            //普通用户
            $("#REPAIR").css("display", "");
        }
        if (role.indexOf("YSR") >= 0) {
            //普通用户
            $("#TRANSPORT").css("display", "");
        }
        if (role.indexOf("DEVICE") >= 0) {
            //普通用户
            $("#DEVICE_INSPECTION").css("display", "");
        }
        //公告

        $("#scrollGG").html("暂无公告信息");

        qrCode();
    });
    // $("#menuPic").css("background-image", "url(" + Imgurl + ")");
    //公告html
    function createGG(title, content, hosName) {
        var html = '<div class="mui-card">';
        html +=
            '<div class="mui-card-header mui-card-media" style="color:#1fca6a;">';
        html += '<img src="img/icon.png">';
        html +=
            '<div class="mui-media-body">' + title + "<p>" + hosName + "</p></div>";
        html += "</div>";
        html += '<div class="mui-card-content">';
        html +=
            '<div id="notice_content" class="mui-card-content-inner" style="min-height:100px;">' +
            content +
            "</div>";
        html += "</div>";
        html += "</div>";
        return html;
    }

    //基本信息
    $("#name").html(localStorage.getItem("name"));
    $("#workNo").html(localStorage.getItem("workNo"));
    $("#telPhone").html(
        localStorage.getItem("telPhone") == "" ? "无" : localStorage.getItem("telPhone")
    );

    $("#deptName").html(localStorage.getItem("deptName"));

    //图片
    if (menuImg != "" && menuImg != null && menuImg != "null") {
        var imgUrl = "http://wx.yyhq365.cn/smp_wx" + menuImg;
        $("#menuPic").css("background-image", "url(" + imgUrl + ")");
    }
    $("#hosName").html(hosName);
    // 智能监控
    $("#MONITOR").click(function() {
        location.href = "html/monitor/overview.html";
    });
    //退出登录
    document.getElementById("quit").addEventListener("tap", function() {
        var btnArray = ["否", "是"];
        mui.confirm(
            "此操作将会清除当前用户登录信息，下次登陆需要重新下载资源文件，确认退出吗?",
            "退出确认",
            btnArray,
            function(e) {
                if (e.index == 1) {
                    localStorage.clear();
                    navigator.app.exitApp();
                }
            }
        );
    });

    //公告点击事件
    document.getElementById("scrollGG").addEventListener("tap", function() {
        $("#home").removeClass("mui-active");
        $("#tabbar").removeClass("mui-active");
        $("#message").addClass("mui-active");
        $("#tabbar-with-chat").addClass("mui-active");
    });

    /**
     * mui返回方法(ps:自定义的,不加会报错,不需要的话方法体定义为空)
     * [goBack description]
     * @return {[type]} [description]
     */
    function goBack() {
        location.href = "hosArea.html";
    }

    /**
     * 系统返回键方法
     * @return {[type]} [description]
     */
    function onBackKeyDown() {
        navigator.app.exitApp();
    }

    /**
     * 二维码
     * @return {[type]} [description]
     */
    function qrCode() {
        var code =
            baseUrl +
            "downloads/frameworkModuleJob/downloadSystemObject/appurl.html?class=com.bonawise.yishenghuo";
        $("#qrCode").qrcode({
            render: "canvas",
            size: 80,
            color: "#000000",
            text: code,
        });

        $("#qrBcode").qrcode({
            render: "canvas",
            size: 250,
            color: "#000000",
            text: code,
        });
    }

    $("#colseQr").click(function() {
        $("#bigQr").hide();
    });

    $("#qrCode").click(function() {
        $("#bigQr").show();
    });
    document.getElementById("EQUIPMENT").addEventListener("tap", function() {
        location.href = "html/equipment/main.html";
    });
</script>

</html>