
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1497339366797') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiandao:before { content: "\e977"; }

