
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1519889139791') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e6b4"; }

.icon-31xiala:before { content: "\e602"; }

.icon-333:before { content: "\e604"; }

.icon-yonghu:before { content: "\e626"; }

.icon-zhanghuguanli:before { content: "\e61b"; }

.icon-zhifubao3:before { content: "\e702"; }

.icon-zhifubao:before { content: "\e6f9"; }

.icon-weixin:before { content: "\e600"; }

.icon-tubiaozhizuomoban:before { content: "\e60c"; }

.icon-xitongshezhi:before { content: "\e66d"; }

.icon-weixin2:before { content: "\e601"; }

.icon-tubiaozhizuomoban1:before { content: "\e667"; }

.icon-gouwuche:before { content: "\e617"; }

.icon-zhanghuguanli2:before { content: "\e67f"; }

.icon-weixin1:before { content: "\e693"; }

.icon-zhifubao1:before { content: "\e65e"; }

.icon-zhifubao2:before { content: "\e8e4"; }

.icon-xitongshezhi1:before { content: "\e649"; }

